/*----- Define Font Face ------*/
@font-face {
    font-family: 'jtbIL';
    src: url('../fonts/jtbIL.eot?neovwp');
    src: url('../fonts/jtbIL.eot?neovwp#iefix') format('embedded-opentype'),
    url('../fonts/jtbIL.ttf?neovwp') format('truetype'),
    url('../fonts/jtbIL.woff?neovwp') format('woff'),
    url('../fonts/jtbIL.svg?neovwp#jtbIL') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/*----- Reboot Icons ------*/
[class^="jtbIL-"], [class*=" jtbIL-"] {
    font-family: 'jtbIL' !important;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    speak: never;

    text-transform: none;
}

/*----- Defining Types ------*/
i[class^="jtbIL-"].jtbI-circle,
i[class*=" jtbIL-"].jtbI-circle,
i[class^="jtbIL-"].jtbI-square,
i[class*=" jtbIL-"].jtbI-square,
i[class^="jtbIL-"].jtbI-rounded,
i[class*=" jtbIL-"].jtbI-rounded {
    border-style: solid;
    border-width: 0.10em;
    font-weight: bold;
    padding: 0.25em;
}

/*----- Circular ------*/
i[class^="jtbIL-"].jtbI-circle,
i[class*=" jtbIL-"].jtbI-circle {
    border-radius: 100%;
}

i[class^="jtbIL-"].jtbI-rounded,
i[class*=" jtbIL-"].jtbI-rounded {
    border-radius: 0.25em;
}

/*----- Define Icons ------*/

.jtbIL-celcius:before {
    content: "\eb0b";
}

.jtbIL-cloud:before {
    content: "\eb0c";
}

.jtbIL-cloud-bolt:before {
    content: "\eb0d";
}

.jtbIL-cloud-downpour:before {
    content: "\eb0e";
}

.jtbIL-cloud-drizzle:before {
    content: "\eb0f";
}

.jtbIL-cloud-fog:before {
    content: "\eb10";
}

.jtbIL-cloud-hail:before {
    content: "\eb11";
}

.jtbIL-cloud-hail-rain:before {
    content: "\eb12";
}

.jtbIL-cloud-moon:before {
    content: "\eb13";
}

.jtbIL-cloud-rain:before {
    content: "\eb14";
}

.jtbIL-cloud-rainbow:before {
    content: "\eb15";
}

.jtbIL-clouds:before {
    content: "\eb16";
}

.jtbIL-clouds-moon:before {
    content: "\eb17";
}

.jtbIL-cloud-snow:before {
    content: "\eb18";
}

.jtbIL-cloud-snow-rain:before {
    content: "\eb19";
}

.jtbIL-clouds-sun:before {
    content: "\eb1a";
}

.jtbIL-cloud-sun:before {
    content: "\eb1b";
}

.jtbIL-fahrenheit:before {
    content: "\eb1c";
}

.jtbIL-flood:before {
    content: "\eb1d";
}

.jtbIL-flood-arrow-down:before {
    content: "\eb1e";
}

.jtbIL-flood-arrow-up:before {
    content: "\eb1f";
}

.jtbIL-heat:before {
    content: "\eb20";
}

.jtbIL-hurricane:before {
    content: "\eb21";
}

.jtbIL-moon:before {
    content: "\eb22";
}

.jtbIL-moon-stars:before {
    content: "\eb23";
}

.jtbIL-rainbow:before {
    content: "\eb24";
}

.jtbIL-snowflakes:before {
    content: "\eb25";
}

.jtbIL-sun:before {
    content: "\eb26";
}

.jtbIL-sun-alt:before {
    content: "\eb27";
}

.jtbIL-sunset:before {
    content: "\eb28";
}

.jtbIL-temperature-arrow-down:before {
    content: "\eb29";
}

.jtbIL-temperature-arrow-up:before {
    content: "\eb2a";
}

.jtbIL-temperature-blank:before {
    content: "\eb2b";
}

.jtbIL-temperature-half:before {
    content: "\eb2c";
}

.jtbIL-temperature-high:before {
    content: "\eb2d";
}

.jtbIL-temperature-low:before {
    content: "\eb2e";
}

.jtbIL-temperature-quarter:before {
    content: "\eb2f";
}

.jtbIL-temperature-snow:before {
    content: "\eb30";
}

.jtbIL-temperature-sun:before {
    content: "\eb31";
}

.jtbIL-temperature-three-quarters:before {
    content: "\eb32";
}

.jtbIL-tornado:before {
    content: "\eb33";
}

.jtbIL-umbrella:before {
    content: "\eb34";
}

.jtbIL-wind:before {
    content: "\eb35";
}

.jtbIL-windsock:before {
    content: "\eb36";
}

.jtbIL-5:before {
    content: "\e900";
}

.jtbIL-6:before {
    content: "\e901";
}

.jtbIL-7:before {
    content: "\e902";
}

.jtbIL-8:before {
    content: "\e903";
}

.jtbIL-9:before {
    content: "\e904";
}

.jtbIL-a:before {
    content: "\e905";
}

.jtbIL-address-book:before {
    content: "\e906";
}

.jtbIL-alarm-clock:before {
    content: "\e907";
}

.jtbIL-alarm-exclamation:before {
    content: "\e908";
}

.jtbIL-alarm-minus:before {
    content: "\e909";
}

.jtbIL-alarm-plus:before {
    content: "\e90a";
}

.jtbIL-alarm-snooze:before {
    content: "\e90b";
}

.jtbIL-alarm-times:before {
    content: "\e90c";
}

.jtbIL-alien:before {
    content: "\e90d";
}

.jtbIL-alien-head:before {
    content: "\e90e";
}

.jtbIL-align-center:before {
    content: "\e90f";
}

.jtbIL-align-justify:before {
    content: "\e910";
}

.jtbIL-align-left:before {
    content: "\e911";
}

.jtbIL-align-right:before {
    content: "\e912";
}

.jtbIL-aperture:before {
    content: "\e913";
}

.jtbIL-apostrophe:before {
    content: "\e914";
}

.jtbIL-apps:before {
    content: "\e915";
}

.jtbIL-archive-box:before {
    content: "\e916";
}

.jtbIL-arrow-down:before {
    content: "\e917";
}

.jtbIL-arrow-down-1-9:before {
    content: "\e918";
}

.jtbIL-arrow-down-9-1:before {
    content: "\e919";
}

.jtbIL-arrow-down-a-z:before {
    content: "\e91a";
}

.jtbIL-arrow-down-from-line:before {
    content: "\e91b";
}

.jtbIL-arrow-down-left:before {
    content: "\e91c";
}

.jtbIL-arrow-down-narrow-wide:before {
    content: "\e91d";
}

.jtbIL-arrow-down-right:before {
    content: "\e91e";
}

.jtbIL-arrow-down-to-bracket:before {
    content: "\e91f";
}

.jtbIL-arrow-down-to-line:before {
    content: "\e920";
}

.jtbIL-arrow-down-wide-narrow:before {
    content: "\e921";
}

.jtbIL-arrow-down-z-a:before {
    content: "\e922";
}

.jtbIL-arrow-left:before {
    content: "\e923";
}

.jtbIL-arrow-left-from-bracket:before {
    content: "\e924";
}

.jtbIL-arrow-left-from-line:before {
    content: "\e925";
}

.jtbIL-arrow-left-right:before {
    content: "\e926";
}

.jtbIL-arrow-left-to-bracket:before {
    content: "\e927";
}

.jtbIL-arrow-left-to-line:before {
    content: "\e928";
}

.jtbIL-arrow-right:before {
    content: "\e929";
}

.jtbIL-arrow-right-arrow-left:before {
    content: "\e92a";
}

.jtbIL-arrow-right-from-bracket:before {
    content: "\e92b";
}

.jtbIL-arrow-right-from-line:before {
    content: "\e92c";
}

.jtbIL-arrow-right-to-bracket:before {
    content: "\e92d";
}

.jtbIL-arrow-right-to-line:before {
    content: "\e92e";
}

.jtbIL-arrow-rotate-left:before {
    content: "\e92f";
}

.jtbIL-arrow-rotate-right:before {
    content: "\e930";
}

.jtbIL-arrows-maximize:before {
    content: "\e931";
}

.jtbIL-arrows-minimize:before {
    content: "\e932";
}

.jtbIL-arrows-repeat:before {
    content: "\e933";
}

.jtbIL-arrows-repeat-1:before {
    content: "\e934";
}

.jtbIL-arrows-rotate:before {
    content: "\e935";
}

.jtbIL-arrows-shuffle:before {
    content: "\e936";
}

.jtbIL-arrows-up-left-bottom-right:before {
    content: "\e937";
}

.jtbIL-arrows-up-right-bottom-left:before {
    content: "\e938";
}

.jtbIL-arrow-trend-down:before {
    content: "\e939";
}

.jtbIL-arrow-trend-up:before {
    content: "\e93a";
}

.jtbIL-arrow-turn-down:before {
    content: "\e93b";
}

.jtbIL-arrow-turn-left:before {
    content: "\e93c";
}

.jtbIL-arrow-turn-right:before {
    content: "\e93d";
}

.jtbIL-arrow-turn-up:before {
    content: "\e93e";
}

.jtbIL-arrow-up:before {
    content: "\e93f";
}

.jtbIL-arrow-up-1-9:before {
    content: "\e940";
}

.jtbIL-arrow-up-9-1:before {
    content: "\e941";
}

.jtbIL-arrow-up-arrow-down:before {
    content: "\e942";
}

.jtbIL-arrow-up-a-z:before {
    content: "\e943";
}

.jtbIL-arrow-up-down:before {
    content: "\e944";
}

.jtbIL-arrow-up-from-bracket:before {
    content: "\e945";
}

.jtbIL-arrow-up-from-line:before {
    content: "\e946";
}

.jtbIL-arrow-up-left:before {
    content: "\e947";
}

.jtbIL-arrow-up-narrow-wide:before {
    content: "\e948";
}

.jtbIL-arrow-up-right:before {
    content: "\e949";
}

.jtbIL-arrow-up-right-from-square:before {
    content: "\e94a";
}

.jtbIL-arrow-up-to-bracket:before {
    content: "\e94b";
}

.jtbIL-arrow-up-to-line:before {
    content: "\e94c";
}

.jtbIL-arrow-up-wide-narrow:before {
    content: "\e94d";
}

.jtbIL-arrow-up-z-a:before {
    content: "\e94e";
}

.jtbIL-asterisk:before {
    content: "\e94f";
}

.jtbIL-atom:before {
    content: "\e950";
}

.jtbIL-atom-simple:before {
    content: "\e951";
}

.jtbIL-audio-description:before {
    content: "\e952";
}

.jtbIL-award:before {
    content: "\e953";
}

.jtbIL-award-simple:before {
    content: "\e954";
}

.jtbIL-b:before {
    content: "\e955";
}

.jtbIL-backpack:before {
    content: "\e956";
}

.jtbIL-backward:before {
    content: "\e957";
}

.jtbIL-backward-fast:before {
    content: "\e958";
}

.jtbIL-backward-step:before {
    content: "\e959";
}

.jtbIL-balloon:before {
    content: "\e95a";
}

.jtbIL-ban:before {
    content: "\e95b";
}

.jtbIL-bandage:before {
    content: "\e95c";
}

.jtbIL-barcode:before {
    content: "\e95d";
}

.jtbIL-barcode-scan:before {
    content: "\e95e";
}

.jtbIL-bars:before {
    content: "\e95f";
}

.jtbIL-bars-filter:before {
    content: "\e960";
}

.jtbIL-bars-sort:before {
    content: "\e961";
}

.jtbIL-battery-charging:before {
    content: "\e962";
}

.jtbIL-battery-empty:before {
    content: "\e963";
}

.jtbIL-battery-exclamation:before {
    content: "\e964";
}

.jtbIL-battery-full:before {
    content: "\e965";
}

.jtbIL-battery-half:before {
    content: "\e966";
}

.jtbIL-battery-quarter:before {
    content: "\e967";
}

.jtbIL-battery-slash:before {
    content: "\e968";
}

.jtbIL-battery-three-quarters:before {
    content: "\e969";
}

.jtbIL-bell:before {
    content: "\e96a";
}

.jtbIL-bell-exclamation:before {
    content: "\e96b";
}

.jtbIL-bell-minus:before {
    content: "\e96c";
}

.jtbIL-bell-plus:before {
    content: "\e96d";
}

.jtbIL-bell-ring:before {
    content: "\e96e";
}

.jtbIL-bell-slash:before {
    content: "\e96f";
}

.jtbIL-bell-times:before {
    content: "\e970";
}

.jtbIL-birthday-cake:before {
    content: "\e971";
}

.jtbIL-bluetooth:before {
    content: "\e972";
}

.jtbIL-bold:before {
    content: "\e973";
}

.jtbIL-bolt:before {
    content: "\e974";
}

.jtbIL-bolt-lightning:before {
    content: "\e975";
}

.jtbIL-bolt-slash:before {
    content: "\e976";
}

.jtbIL-bomb:before {
    content: "\e977";
}

.jtbIL-book:before {
    content: "\e978";
}

.jtbIL-book-blank:before {
    content: "\e979";
}

.jtbIL-book-bookmark:before {
    content: "\e97a";
}

.jtbIL-bookmark:before {
    content: "\e97b";
}

.jtbIL-bookmark-filled:before {
    content: "\e97c";
}

.jtbIL-book-open:before {
    content: "\e97d";
}

.jtbIL-books:before {
    content: "\e97e";
}

.jtbIL-border-all:before {
    content: "\e97f";
}

.jtbIL-border-bottom:before {
    content: "\e980";
}

.jtbIL-border-center-h:before {
    content: "\e981";
}

.jtbIL-border-center-v:before {
    content: "\e982";
}

.jtbIL-border-inner:before {
    content: "\e983";
}

.jtbIL-border-left:before {
    content: "\e984";
}

.jtbIL-border-none:before {
    content: "\e985";
}

.jtbIL-border-outer:before {
    content: "\e986";
}

.jtbIL-border-right:before {
    content: "\e987";
}

.jtbIL-border-top:before {
    content: "\e988";
}

.jtbIL-bowl:before {
    content: "\e989";
}

.jtbIL-bowl-hot:before {
    content: "\e98a";
}

.jtbIL-box:before {
    content: "\e98b";
}

.jtbIL-box-open:before {
    content: "\e98c";
}

.jtbIL-box-open-heart:before {
    content: "\e98d";
}

.jtbIL-braille:before {
    content: "\e98e";
}

.jtbIL-briefcase:before {
    content: "\e98f";
}

.jtbIL-briefcase-blank:before {
    content: "\e990";
}

.jtbIL-briefcase-clock:before {
    content: "\e991";
}

.jtbIL-briefcase-medical:before {
    content: "\e992";
}

.jtbIL-brightness:before {
    content: "\e993";
}

.jtbIL-brightness-keyboard:before {
    content: "\e994";
}

.jtbIL-brightness-low:before {
    content: "\e995";
}

.jtbIL-brightness-low-keyboard:before {
    content: "\e996";
}

.jtbIL-bring-forward:before {
    content: "\e997";
}

.jtbIL-bring-front:before {
    content: "\e998";
}

.jtbIL-browser:before {
    content: "\e999";
}

.jtbIL-bucket:before {
    content: "\e99a";
}

.jtbIL-bug:before {
    content: "\e99b";
}

.jtbIL-bugs:before {
    content: "\e99c";
}

.jtbIL-bug-slash:before {
    content: "\e99d";
}

.jtbIL-building:before {
    content: "\e99e";
}

.jtbIL-bullhorn:before {
    content: "\e99f";
}

.jtbIL-bullseye:before {
    content: "\e9a0";
}

.jtbIL-bullseye-arrow:before {
    content: "\e9a1";
}

.jtbIL-bullseye-cursor:before {
    content: "\e9a2";
}

.jtbIL-c:before {
    content: "\e9a3";
}

.jtbIL-cabinet-filing:before {
    content: "\e9a4";
}

.jtbIL-calculator:before {
    content: "\e9a5";
}

.jtbIL-calendar:before {
    content: "\e9a6";
}

.jtbIL-calendar-check:before {
    content: "\e9a7";
}

.jtbIL-calendar-exclamation:before {
    content: "\e9a8";
}

.jtbIL-calendar-heart:before {
    content: "\e9a9";
}

.jtbIL-calendar-minus:before {
    content: "\e9aa";
}

.jtbIL-calendar-plus:before {
    content: "\e9ab";
}

.jtbIL-calendar-star:before {
    content: "\e9ac";
}

.jtbIL-calendar-striped:before {
    content: "\e9ad";
}

.jtbIL-calendar-times:before {
    content: "\e9ae";
}

.jtbIL-calendar-user:before {
    content: "\e9af";
}

.jtbIL-camcorder:before {
    content: "\e9b0";
}

.jtbIL-camera:before {
    content: "\e9b1";
}

.jtbIL-camera-rotate:before {
    content: "\e9b2";
}

.jtbIL-camera-slash:before {
    content: "\e9b3";
}

.jtbIL-campfire:before {
    content: "\e9b4";
}

.jtbIL-candle:before {
    content: "\e9b5";
}

.jtbIL-caret-down:before {
    content: "\e9b6";
}

.jtbIL-caret-down-left:before {
    content: "\e9b7";
}

.jtbIL-caret-down-right:before {
    content: "\e9b8";
}

.jtbIL-caret-left:before {
    content: "\e9b9";
}

.jtbIL-caret-right:before {
    content: "\e9ba";
}

.jtbIL-caret-up:before {
    content: "\e9bb";
}

.jtbIL-caret-up-left:before {
    content: "\e9bc";
}

.jtbIL-caret-up-right:before {
    content: "\e9bd";
}

.jtbIL-cctv:before {
    content: "\e9be";
}

.jtbIL-chalkboard:before {
    content: "\e9bf";
}

.jtbIL-chart-line-down:before {
    content: "\e9c0";
}

.jtbIL-chart-line-up:before {
    content: "\e9c1";
}

.jtbIL-check:before {
    content: "\e9c2";
}

.jtbIL-check-double:before {
    content: "\e9c3";
}

.jtbIL-chevron-down:before {
    content: "\e9c4";
}

.jtbIL-chevron-down-left:before {
    content: "\e9c5";
}

.jtbIL-chevron-down-right:before {
    content: "\e9c6";
}

.jtbIL-chevron-left:before {
    content: "\e9c7";
}

.jtbIL-chevron-right:before {
    content: "\e9c8";
}

.jtbIL-chevron-up:before {
    content: "\e9c9";
}

.jtbIL-chevron-up-left:before {
    content: "\e9ca";
}

.jtbIL-chevron-up-right:before {
    content: "\e9cb";
}

.jtbIL-circle:before {
    content: "\e9cc";
}

.jtbIL-circle-dashed:before {
    content: "\e9cd";
}

.jtbIL-circle-notch:before {
    content: "\e9ce";
}

.jtbIL-clapperboard:before {
    content: "\e9cf";
}

.jtbIL-clipboard:before {
    content: "\e9d0";
}

.jtbIL-clipboard-check:before {
    content: "\e9d1";
}

.jtbIL-clipboard-list:before {
    content: "\e9d2";
}

.jtbIL-clipboard-list-check:before {
    content: "\e9d3";
}

.jtbIL-clipboard-medical:before {
    content: "\e9d4";
}

.jtbIL-clock:before {
    content: "\e9d5";
}

.jtbIL-code:before {
    content: "\e9d6";
}

.jtbIL-code-simple:before {
    content: "\e9d7";
}

.jtbIL-comment:before {
    content: "\e9d8";
}

.jtbIL-comment-ellipsis:before {
    content: "\e9d9";
}

.jtbIL-comment-line:before {
    content: "\e9da";
}

.jtbIL-comment-right:before {
    content: "\e9db";
}

.jtbIL-compass:before {
    content: "\e9dc";
}

.jtbIL-compress:before {
    content: "\e9dd";
}

.jtbIL-copy:before {
    content: "\e9de";
}

.jtbIL-credit-card:before {
    content: "\e9df";
}

.jtbIL-credit-card-front:before {
    content: "\e9e0";
}

.jtbIL-crosshair:before {
    content: "\e9e1";
}

.jtbIL-cursor:before {
    content: "\e9e2";
}

.jtbIL-d:before {
    content: "\e9e3";
}

.jtbIL-diamond:before {
    content: "\e9e4";
}

.jtbIL-diploma:before {
    content: "\e9e5";
}

.jtbIL-divide:before {
    content: "\e9e6";
}

.jtbIL-door:before {
    content: "\e9e7";
}

.jtbIL-door-open:before {
    content: "\e9e8";
}

.jtbIL-droplet:before {
    content: "\e9e9";
}

.jtbIL-e:before {
    content: "\e9ea";
}

.jtbIL-ear:before {
    content: "\e9eb";
}

.jtbIL-ear-slash:before {
    content: "\e9ec";
}

.jtbIL-ellipsis:before {
    content: "\e9ed";
}

.jtbIL-ellipsis-filled:before {
    content: "\e9ee";
}

.jtbIL-ellipsis-vertical:before {
    content: "\e9ef";
}

.jtbIL-ellipsis-vertical-filled:before {
    content: "\e9f0";
}

.jtbIL-envelope:before {
    content: "\e9f1";
}

.jtbIL-envelope-open:before {
    content: "\e9f2";
}

.jtbIL-envelope-open-text:before {
    content: "\e9f3";
}

.jtbIL-envelopes:before {
    content: "\e9f4";
}

.jtbIL-exclamation:before {
    content: "\e9f5";
}

.jtbIL-expand:before {
    content: "\e9f6";
}

.jtbIL-eye:before {
    content: "\e9f7";
}

.jtbIL-eye-low-vision:before {
    content: "\e9f8";
}

.jtbIL-eye-slash:before {
    content: "\e9f9";
}

.jtbIL-f:before {
    content: "\e9fa";
}

.jtbIL-file:before {
    content: "\e9fb";
}

.jtbIL-file-arrow-down:before {
    content: "\e9fc";
}

.jtbIL-file-arrow-up:before {
    content: "\e9fd";
}

.jtbIL-file-certificate:before {
    content: "\e9fe";
}

.jtbIL-file-check:before {
    content: "\e9ff";
}

.jtbIL-file-minus:before {
    content: "\ea00";
}

.jtbIL-file-plus:before {
    content: "\ea01";
}

.jtbIL-file-times:before {
    content: "\ea02";
}

.jtbIL-filter:before {
    content: "\ea03";
}

.jtbIL-filters:before {
    content: "\ea04";
}

.jtbIL-fingerprint:before {
    content: "\ea05";
}

.jtbIL-fire:before {
    content: "\ea06";
}

.jtbIL-flag:before {
    content: "\ea07";
}

.jtbIL-flag-swallowtail:before {
    content: "\ea08";
}

.jtbIL-floppy-disk:before {
    content: "\ea09";
}

.jtbIL-flower-heart:before {
    content: "\ea0a";
}

.jtbIL-folder:before {
    content: "\ea0b";
}

.jtbIL-folder-arrow-down:before {
    content: "\ea0c";
}

.jtbIL-folder-arrow-up:before {
    content: "\ea0d";
}

.jtbIL-folder-blank:before {
    content: "\ea0e";
}

.jtbIL-folder-check:before {
    content: "\ea0f";
}

.jtbIL-folder-minus:before {
    content: "\ea10";
}

.jtbIL-folder-plus:before {
    content: "\ea11";
}

.jtbIL-folder-times:before {
    content: "\ea12";
}

.jtbIL-forward:before {
    content: "\ea13";
}

.jtbIL-forward-fast:before {
    content: "\ea14";
}

.jtbIL-forward-step:before {
    content: "\ea15";
}

.jtbIL-g:before {
    content: "\ea16";
}

.jtbIL-gear:before {
    content: "\ea17";
}

.jtbIL-gears:before {
    content: "\ea18";
}

.jtbIL-gem:before {
    content: "\ea19";
}

.jtbIL-gift:before {
    content: "\ea1a";
}

.jtbIL-glasses:before {
    content: "\ea1b";
}

.jtbIL-globe:before {
    content: "\ea1c";
}

.jtbIL-globe-stand:before {
    content: "\ea1d";
}

.jtbIL-graduation-cap:before {
    content: "\ea1e";
}

.jtbIL-grid:before {
    content: "\ea1f";
}

.jtbIL-h:before {
    content: "\ea20";
}

.jtbIL-hand-holding:before {
    content: "\ea21";
}

.jtbIL-hand-holding-bowl:before {
    content: "\ea22";
}

.jtbIL-hand-holding-bowl-hot:before {
    content: "\ea23";
}

.jtbIL-hand-holding-gift:before {
    content: "\ea24";
}

.jtbIL-hand-holding-globe:before {
    content: "\ea25";
}

.jtbIL-hand-holding-hand:before {
    content: "\ea26";
}

.jtbIL-hand-holding-heart:before {
    content: "\ea27";
}

.jtbIL-hands-holding:before {
    content: "\ea28";
}

.jtbIL-hands-holding-bowl:before {
    content: "\ea29";
}

.jtbIL-hands-holding-bowl-hot:before {
    content: "\ea2a";
}

.jtbIL-hands-holding-gift:before {
    content: "\ea2b";
}

.jtbIL-hands-holding-globe:before {
    content: "\ea2c";
}

.jtbIL-hands-holding-heart:before {
    content: "\ea2d";
}

.jtbIL-hands-pray:before {
    content: "\ea2e";
}

.jtbIL-hashtag:before {
    content: "\ea2f";
}

.jtbIL-heart:before {
    content: "\ea30";
}

.jtbIL-heart-broken:before {
    content: "\ea31";
}

.jtbIL-heart-filled:before {
    content: "\ea32";
}

.jtbIL-heart-half:before {
    content: "\ea33";
}

.jtbIL-heart-half-filled:before {
    content: "\ea34";
}

.jtbIL-heart-half-stroke:before {
    content: "\ea35";
}

.jtbIL-heart-half-stroke-filled:before {
    content: "\ea36";
}

.jtbIL-heart-pulse:before {
    content: "\ea37";
}

.jtbIL-home:before {
    content: "\ea38";
}

.jtbIL-home-blank:before {
    content: "\ea39";
}

.jtbIL-home-broken:before {
    content: "\ea3a";
}

.jtbIL-home-building:before {
    content: "\ea3b";
}

.jtbIL-home-chimney:before {
    content: "\ea3c";
}

.jtbIL-home-chimney-blank:before {
    content: "\ea3d";
}

.jtbIL-home-chimney-broken:before {
    content: "\ea3e";
}

.jtbIL-home-chimney-flood:before {
    content: "\ea3f";
}

.jtbIL-home-chimney-heart:before {
    content: "\ea40";
}

.jtbIL-home-chimney-medical:before {
    content: "\ea41";
}

.jtbIL-home-chimney-user:before {
    content: "\ea42";
}

.jtbIL-home-flood:before {
    content: "\ea43";
}

.jtbIL-home-heart:before {
    content: "\ea44";
}

.jtbIL-home-medical:before {
    content: "\ea45";
}

.jtbIL-home-user:before {
    content: "\ea46";
}

.jtbIL-hourglass:before {
    content: "\ea47";
}

.jtbIL-hourglass-blank:before {
    content: "\ea48";
}

.jtbIL-hourglass-end:before {
    content: "\ea49";
}

.jtbIL-hourglass-start:before {
    content: "\ea4a";
}

.jtbIL-i:before {
    content: "\ea4b";
}

.jtbIL-id-card:before {
    content: "\ea4c";
}

.jtbIL-id-card-vertical:before {
    content: "\ea4d";
}

.jtbIL-image:before {
    content: "\ea4e";
}

.jtbIL-info:before {
    content: "\ea4f";
}

.jtbIL-j:before {
    content: "\ea50";
}

.jtbIL-k:before {
    content: "\ea51";
}

.jtbIL-key:before {
    content: "\ea52";
}

.jtbIL-key-skeleton:before {
    content: "\ea53";
}

.jtbIL-l:before {
    content: "\ea54";
}

.jtbIL-layers:before {
    content: "\ea55";
}

.jtbIL-layers-minus:before {
    content: "\ea56";
}

.jtbIL-layers-plus:before {
    content: "\ea57";
}

.jtbIL-leaf:before {
    content: "\ea58";
}

.jtbIL-life-ring:before {
    content: "\ea59";
}

.jtbIL-lightbulb:before {
    content: "\ea5a";
}

.jtbIL-lightbulb-on:before {
    content: "\ea5b";
}

.jtbIL-link:before {
    content: "\ea5c";
}

.jtbIL-link-horizontal:before {
    content: "\ea5d";
}

.jtbIL-link-slash:before {
    content: "\ea5e";
}

.jtbIL-link-vertical:before {
    content: "\ea5f";
}

.jtbIL-list:before {
    content: "\ea60";
}

.jtbIL-list-check:before {
    content: "\ea61";
}

.jtbIL-list-filled:before {
    content: "\ea62";
}

.jtbIL-loader:before {
    content: "\ea63";
}

.jtbIL-location-arrow:before {
    content: "\ea64";
}

.jtbIL-lock:before {
    content: "\ea65";
}

.jtbIL-lock-keyhole:before {
    content: "\ea66";
}

.jtbIL-lock-keyhole-open:before {
    content: "\ea67";
}

.jtbIL-lock-open:before {
    content: "\ea68";
}

.jtbIL-m:before {
    content: "\ea69";
}

.jtbIL-magnet:before {
    content: "\ea6a";
}

.jtbIL-map:before {
    content: "\ea6b";
}

.jtbIL-map-pin:before {
    content: "\ea6c";
}

.jtbIL-message:before {
    content: "\ea6d";
}

.jtbIL-message-ellipsis:before {
    content: "\ea6e";
}

.jtbIL-message-lines:before {
    content: "\ea6f";
}

.jtbIL-message-middle:before {
    content: "\ea70";
}

.jtbIL-message-right:before {
    content: "\ea71";
}

.jtbIL-messages:before {
    content: "\ea72";
}

.jtbIL-microphone:before {
    content: "\ea73";
}

.jtbIL-microphone-slash:before {
    content: "\ea74";
}

.jtbIL-microscope:before {
    content: "\ea75";
}

.jtbIL-minus:before {
    content: "\ea76";
}

.jtbIL-mobile:before {
    content: "\ea77";
}

.jtbIL-mobile-button:before {
    content: "\ea78";
}

.jtbIL-mobile-heart:before {
    content: "\ea79";
}

.jtbIL-monitor:before {
    content: "\ea7a";
}

.jtbIL-monitor-code:before {
    content: "\ea7b";
}

.jtbIL-music-notes:before {
    content: "\ea7c";
}

.jtbIL-n:before {
    content: "\ea7d";
}

.jtbIL-network:before {
    content: "\ea7e";
}

.jtbIL-o:before {
    content: "\ea7f";
}

.jtbIL-p:before {
    content: "\ea80";
}

.jtbIL-paperclip:before {
    content: "\ea81";
}

.jtbIL-paperclip-vertical:before {
    content: "\ea82";
}

.jtbIL-paper-plane:before {
    content: "\ea83";
}

.jtbIL-paper-plane-top:before {
    content: "\ea84";
}

.jtbIL-pen:before {
    content: "\ea85";
}

.jtbIL-pen-clip:before {
    content: "\ea86";
}

.jtbIL-pen-to-square:before {
    content: "\ea87";
}

.jtbIL-person-with-cane:before {
    content: "\ea88";
}

.jtbIL-phone:before {
    content: "\ea89";
}

.jtbIL-phone-call:before {
    content: "\ea8a";
}

.jtbIL-phone-check:before {
    content: "\ea8b";
}

.jtbIL-phone-flip:before {
    content: "\ea8c";
}

.jtbIL-phone-hangup:before {
    content: "\ea8d";
}

.jtbIL-phone-incoming:before {
    content: "\ea8e";
}

.jtbIL-phone-minus:before {
    content: "\ea8f";
}

.jtbIL-phone-missed:before {
    content: "\ea90";
}

.jtbIL-phone-outgoing:before {
    content: "\ea91";
}

.jtbIL-phone-plus:before {
    content: "\ea92";
}

.jtbIL-phone-times:before {
    content: "\ea93";
}

.jtbIL-phone-tty:before {
    content: "\ea94";
}

.jtbIL-phone-volume:before {
    content: "\ea95";
}

.jtbIL-pin:before {
    content: "\ea96";
}

.jtbIL-pin-check:before {
    content: "\ea97";
}

.jtbIL-pin-dot:before {
    content: "\ea98";
}

.jtbIL-pin-exclamation:before {
    content: "\ea99";
}

.jtbIL-pin-heart:before {
    content: "\ea9a";
}

.jtbIL-pin-minus:before {
    content: "\ea9b";
}

.jtbIL-pin-plus:before {
    content: "\ea9c";
}

.jtbIL-pin-times:before {
    content: "\ea9d";
}

.jtbIL-plug:before {
    content: "\ea9e";
}

.jtbIL-plus:before {
    content: "\ea9f";
}

.jtbIL-power-switch:before {
    content: "\eaa0";
}

.jtbIL-print:before {
    content: "\eaa1";
}

.jtbIL-puzzle:before {
    content: "\eaa2";
}

.jtbIL-q:before {
    content: "\eaa3";
}

.jtbIL-question:before {
    content: "\eaa4";
}

.jtbIL-quote-left:before {
    content: "\eaa5";
}

.jtbIL-quote-right:before {
    content: "\eaa6";
}

.jtbIL-quotes:before {
    content: "\eaa7";
}

.jtbIL-r:before {
    content: "\eaa8";
}

.jtbIL-radiation:before {
    content: "\eaa9";
}

.jtbIL-ribbon:before {
    content: "\eaaa";
}

.jtbIL-rocket:before {
    content: "\eaab";
}

.jtbIL-rocket-launch:before {
    content: "\eaac";
}

.jtbIL-ruler-triangle:before {
    content: "\eaad";
}

.jtbIL-s:before {
    content: "\eaae";
}

.jtbIL-school:before {
    content: "\eaaf";
}

.jtbIL-scissors:before {
    content: "\eab0";
}

.jtbIL-screen-users:before {
    content: "\eab1";
}

.jtbIL-search:before {
    content: "\eab2";
}

.jtbIL-search-minus:before {
    content: "\eab3";
}

.jtbIL-search-pin:before {
    content: "\eab4";
}

.jtbIL-search-plus:before {
    content: "\eab5";
}

.jtbIL-search-times:before {
    content: "\eab6";
}

.jtbIL-security-camera:before {
    content: "\eab7";
}

.jtbIL-send-back:before {
    content: "\eab8";
}

.jtbIL-send-backward:before {
    content: "\eab9";
}

.jtbIL-shapes:before {
    content: "\eaba";
}

.jtbIL-share-nodes:before {
    content: "\eabb";
}

.jtbIL-shield:before {
    content: "\eabc";
}

.jtbIL-shield-check:before {
    content: "\eabd";
}

.jtbIL-shield-exclamation:before {
    content: "\eabe";
}

.jtbIL-shield-minus:before {
    content: "\eabf";
}

.jtbIL-shield-plus:before {
    content: "\eac0";
}

.jtbIL-shield-slash:before {
    content: "\eac1";
}

.jtbIL-shield-times:before {
    content: "\eac2";
}

.jtbIL-shopping-bag:before {
    content: "\eac3";
}

.jtbIL-shopping-basket:before {
    content: "\eac4";
}

.jtbIL-shopping-basket-blank:before {
    content: "\eac5";
}

.jtbIL-shopping-cart:before {
    content: "\eac6";
}

.jtbIL-signal:before {
    content: "\eac7";
}

.jtbIL-signal-fair:before {
    content: "\eac8";
}

.jtbIL-signal-good:before {
    content: "\eac9";
}

.jtbIL-signal-slash:before {
    content: "\eaca";
}

.jtbIL-signal-stream:before {
    content: "\eacb";
}

.jtbIL-signal-strong:before {
    content: "\eacc";
}

.jtbIL-signal-weak:before {
    content: "\eacd";
}

.jtbIL-sign-language:before {
    content: "\eace";
}

.jtbIL-snowflake:before {
    content: "\eacf";
}

.jtbIL-spell-check:before {
    content: "\ead0";
}

.jtbIL-spinner:before {
    content: "\ead1";
}

.jtbIL-spinner-one-third:before {
    content: "\ead2";
}

.jtbIL-square:before {
    content: "\ead3";
}

.jtbIL-square-rounded:before {
    content: "\ead4";
}

.jtbIL-star:before {
    content: "\ead5";
}

.jtbIL-star-filled:before {
    content: "\ead6";
}

.jtbIL-star-half:before {
    content: "\ead7";
}

.jtbIL-star-half-filled:before {
    content: "\ead8";
}

.jtbIL-star-half-stroke:before {
    content: "\ead9";
}

.jtbIL-star-half-stroke-filled:before {
    content: "\eada";
}

.jtbIL-star-of-life:before {
    content: "\eadb";
}

.jtbIL-subtitles:before {
    content: "\eadc";
}

.jtbIL-subtitles-underline:before {
    content: "\eadd";
}

.jtbIL-t:before {
    content: "\eade";
}

.jtbIL-tag:before {
    content: "\eadf";
}

.jtbIL-tags:before {
    content: "\eae0";
}

.jtbIL-target:before {
    content: "\eae1";
}

.jtbIL-theater:before {
    content: "\eae2";
}

.jtbIL-thumbtack:before {
    content: "\eae3";
}

.jtbIL-ticket:before {
    content: "\eae4";
}

.jtbIL-ticket-blank:before {
    content: "\eae5";
}

.jtbIL-times:before {
    content: "\eae6";
}

.jtbIL-trash:before {
    content: "\eae7";
}

.jtbIL-trash-can:before {
    content: "\eae8";
}

.jtbIL-triangle:before {
    content: "\eae9";
}

.jtbIL-triangle-exclamation:before {
    content: "\eaea";
}

.jtbIL-tv:before {
    content: "\eaeb";
}

.jtbIL-typewriter:before {
    content: "\eaec";
}

.jtbIL-u:before {
    content: "\eaed";
}

.jtbIL-user:before {
    content: "\eaee";
}

.jtbIL-user-check:before {
    content: "\eaef";
}

.jtbIL-user-group:before {
    content: "\eaf0";
}

.jtbIL-user-minus:before {
    content: "\eaf1";
}

.jtbIL-user-plus:before {
    content: "\eaf2";
}

.jtbIL-users:before {
    content: "\eaf3";
}

.jtbIL-user-shield:before {
    content: "\eaf4";
}

.jtbIL-user-slash:before {
    content: "\eaf5";
}

.jtbIL-users-slash:before {
    content: "\eaf6";
}

.jtbIL-user-times:before {
    content: "\eaf7";
}

.jtbIL-v:before {
    content: "\eaf8";
}

.jtbIL-video-camera:before {
    content: "\eaf9";
}

.jtbIL-w:before {
    content: "\eafa";
}

.jtbIL-webcam:before {
    content: "\eafb";
}

.jtbIL-webcam-slash:before {
    content: "\eafc";
}

.jtbIL-wheelchair:before {
    content: "\eafd";
}

.jtbIL-wifi:before {
    content: "\eafe";
}

.jtbIL-wifi-exclamation:before {
    content: "\eaff";
}

.jtbIL-wifi-fair:before {
    content: "\eb00";
}

.jtbIL-wifi-slash:before {
    content: "\eb01";
}

.jtbIL-wifi-weak:before {
    content: "\eb02";
}

.jtbIL-x:before {
    content: "\eb03";
}

.jtbIL-y:before {
    content: "\eb04";
}

.jtbIL-z:before {
    content: "\eb05";
}

.jtbIL-0:before {
    content: "\eb06";
}

.jtbIL-1:before {
    content: "\eb07";
}

.jtbIL-2:before {
    content: "\eb08";
}

.jtbIL-3:before {
    content: "\eb09";
}

.jtbIL-4:before {
    content: "\eb0a";
}
